/.vscode
/Aula1.py
/Aula10.py
/Aula11.py
/Aula12.py
/Aula13.py
/Aula14.py
/Aula15.py
/Aula16.py
/Aula17.py
/Aula18.py
/Aula19.py
/Aula2.py
/Aula21.py
/Aula22.py
/Aula23.py
/Aula24.py
/Aula25.py
/Aula26.py
/Aula27.py
/Aula29.py
/Aula3.py
/Aula30.py
/Aula4.py
/Aula5.py
/Aula6.py
/Aula7.py
/Aula8.py
/Aula9.py